.contactItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
}

.contactItem:hover {
    background-color: var(--searchBackground);
    cursor: pointer;
}

.contactItem > h4 {
    margin-left: 10px;
    font-size: 15px;
    color: #ffffff;
}