.feed {
    flex: 0.6;
    border-radius: 20px;
    max-width: 700px;
    padding: 0 20px;
}

.feed__input__container {
    display: flex;
}

.feed__input__container > .feed__input > form {
    display: flex;
    flex: 1;
}

.feed__input {
    flex: 1;
    margin-left: 10px;
    display: flex;
    border-radius: 15px;
    border: 1px solid black;
    background-color: var(--searchBackground);
    align-items: center;
}

.feed__input > form > input {
    flex: 1;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: var(--searchBackground);
    margin-left: 10px;
    font-size: 14px;
}

.feed__input > form > input::-webkit-input-placeholder {
    color: #ffffff;
}

.feed__input > form > button {
    flex: 0;
    border: none;
}

@media only screen and (max-width: 1100px) {
    .feed {
      flex: 0.8;
  }
}

@media only screen and (max-width: 900px) {
    .feed {
      flex: 1;
  }
}