.header#pageHeader {
    position: sticky;
    top: 0;
    z-index: 100;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: auto;
    background-color: var(--headerBackground);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.header#pageHeader::-webkit-scrollbar {
    display: none;
}

.header__left {
    display: flex;
    flex: 0.2;
    align-items: center;
    padding: 5px;
}

.header__left > .search__field {
    padding: 5px;
    margin-left: 10px;
    display: flex;
    border-radius: 15px;
    border: 1px solid black;
    background-color: var(--searchBackground);
    align-items: center;
}

.header__left > .search__field > form > input {
    border: none;
    outline: none;
    color: #ffffff;
    background-color: var(--searchBackground);
    margin-left: 10px;
    font-size: 14px;
}

.header__left > .search__field > form > button {
    flex: 0;
    border: none;
}

.header__center {
    display: flex;
    flex: 0.6;
    justify-content: space-evenly;
    align-items: center;
    max-width: 700px;
}

.header__center > * {
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
}

.header__center > *:hover {
    background-color: var(--searchBackground);
    cursor: pointer;
}

.header__right {
    display: flex;
    flex: 0.2;
    align-items: center;
    padding-right: 5px;
}

.header__right > .user__identity {
    display: flex;
    align-items: center;
    border-radius: 20px;
    height: fit-content;
    padding: 3px 5px;
}

.header__right > .user__identity:hover {
    background-color: var(--searchBackground);
    cursor: pointer;
}

.header__right > .user__identity > h4 {
    color: #ffffff;
    font-size: 20px;
    margin-left: 8px;
}

.header__right__icons {
    display: flex;
    justify-content: space-evenly;
}

.header__right__icons > * {
    color: #ffffff;
    padding: 7px;
    background-color: var(--searchBackground);
    border-radius: 50%;
    margin-left: 10px;
}

.header__right__icons > *:hover {
    background-color: gray;
    cursor: pointer;
}

@media only screen and (max-width: 1260px) {
    .header__right > .user__identity {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .header__center {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .search__field > form > input {
        width: 100px;
    }
}

@media only screen and (max-width: 400px) {
    .search__field > form > input {
        width: 60px;
    }
}