.likesPopoutItem {
    display: flex;
    color: #ffffff;
    max-width: 700px;
}

.likes__item__container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.likes__item__container > .user__info__container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: fit-content;
    background-color: var(--bodyBackground);
}

.likes__item__container > .user__info__container > p {
    margin-left: 10px;
}

.likes__item__container > .user__info__container > p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.likes__item__container > .add__friend__container {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: var(--searchBackground);
    border-radius: 5px;
    white-space: nowrap;
}

.likes__item__container > .add__friend__container:hover {
    background-color: gray;
    cursor: pointer;
}

.likes__item__container > .add__friend__container > p {
    margin-left: 10px;
}