.login {
    display: grid;
    place-items: center;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0;
}

.login > img {
    height: 70px;
    object-fit: contain;
    margin: 20px 0;
}

.login > form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0.5px 0.5px 0.5px 0.5px;
    align-items: center;
}

.login > form > input {
    width: 350px;
    height: 50px;
    outline: none;
    margin: 5px 0;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    background-color: #FFF192;
}

.login > form > button {
    color: #ffffff;
    font-size: 15px;
    margin: 5px 0;
    width: 365px;
    height: 50px;
    border-radius: 10px;
    background-color: #4267B2;
}

.login > form > p > span:hover {
    cursor: pointer;
    background-color: whitesmoke;
    text-decoration: underline;
}

@media only screen and (max-width: 500px) {
    .login > form > input {
        width: 300px;
    }
    
    .login > form > button {
        width: 315px;
    }
}