.messagesDisplay {
    flex: 1;
    overflow: scroll;
}

.messagesDisplay > #message__container {
    display: flex;
    flex: 1;
    color: #ffffff;
    margin: 5px 0;
}

#message__container.sent {
    padding: 5px;
    justify-content: flex-end;
}

#message__container.received {
    padding: 5px;
    justify-content: flex-start;
}

#message__container > p {
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    max-width: 200px;
}

.received > p {
    background-color: var(--searchBackground);
}

.sent > p {
    background-color: var(--blueColor);
}