.messagesDisplay {
    flex: 1;
    overflow: scroll;
    scrollbar-width: none;
}

.messagesDisplay::-webkit-scrollbar {
    display: none;
}

.display__container {
    display: flex;
    flex-direction: column;
}

.messagesDisplay > .display__container > #message__container {
    display: flex;
    flex: 1;
    color: #ffffff;
    margin: 5px 0;
}

#message__container.sent {
    padding: 5px;
    justify-content: flex-end;
}

#message__container.received {
    padding: 5px;
    justify-content: flex-start;
}

#message__container > p {
    text-align: start;
    padding: 5px;
    border-radius: 10px;
    max-width: 175px;
}

.received > p {
    background-color: var(--searchBackground);
}

.sent > p {
    background-color: var(--blueColor);
}