.newMessageCreator {
    position: fixed;
    bottom: 0;
    right: 40px;
    color: #ffffff;
    height: 450px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
}

.message__creation__body {
    background-color: var(--headerBackground);
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    display: none;
}

.top__portion {
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
}

.message__header {
    display: flex;
    justify-content: space-between;
}

.message__header > .close__icon__container {
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.message__header > .close__icon__container:hover {
    cursor: pointer;
    background-color: gray;
}

.message__form__container {
    display: flex;
    margin-top: 5px;
}

.message__form__container > form {
    display: flex;
    flex: 1;
}

.message__form__container > form > input {
    margin-left: 15px;
    color: #ffffff;
    border: none;
    outline: none;
    flex: 1;
    font-size: 15px;
    background-color: var(--headerBackground);
}

.message__form__container > form > button {
    display: none;
}

.create__message__logo {
    display: flex;
    border-radius: 50%;
    background-color: var(--headerBackground);
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    align-self: flex-end;
    margin-bottom: 20px;
}

.create__message__logo:hover {
    cursor: pointer;
}

.contact__suggestions {
    display: none;
    flex-direction: column;
}

.messages__section {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    overflow: scroll;
}

.messages__section > .message__input {
    display: flex;
    padding: 0 10px;
}

.messages__section > .message__input > form {
    display: flex;
    flex: 1;
}

.messages__section > .message__input > form > input {
    flex: 1;
    background-color: var(--searchBackground);
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    color: #ffffff;
    padding: 5px;
}

.messages__section > .message__input > form > button {
    display: none;
}

@media only screen and (max-width: 900px) {
    .newMessageCreator {
        right: 10px;
    }
    .create__message__logo {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 500px) {
    .newMessageCreator {
        width: 350px;
        height: 300px;
    }
}