:root {
  --headerBackground: #404040;
  --bodyBackground: #181818;
  --searchBackground: #737373;
  --postBackground: #404040;
}

* {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  justify-content: space-between;
  background-color: var(--bodyBackground);
  padding-top: 30px;
}

@media only screen and (max-width: 900px) {
  .body {
    justify-content: center;
  }
}